<!doctype html>
<html>
    <head>
        <title>MHS Class of '04 Reunion</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=700" />
        <link rel="shortcut icon" href="{{ favicon_url }}">
        <link rel="stylesheet" href="{{ style_url }}">
        <style>
            {% include 'wallpaper.css' %}
        </style>
        {% block metaExtra %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div id="wallpaper"></div>
        <div id="topbox" class="shadowed">
            <h1 class="strong br blue">Morgantown High Class of 2004</h1>
            <h3 class="red">10 Year Reunion</h3>
        </div>
        <div id="centerbox">
            <div style="padding: 18px;">
                <h2 class="strong centered br-2 blue">Save the Date</h2>
                <h3 class="br"><span class="strong blue" style="display: inline-block; width: 118px;">When:</span> <span>July 25&mdash;27, 2014 (tentative)</span></h3>
                <h3 class="br"><span class="strong blue" style="display: inline-block; width: 118px;">Where:</span> <span>Morgantown, WV</span></h3>
                <h3 class="br-2"><span class="strong blue" style="display: inline-block; width: 118px;">Who:</span> <span>All Class of '04 Alumni &amp; Family</span></h3>
                <div style="position: absolute; bottom: 18px;">Want to learn more? Watch for updates on this page and join the <a target="_blank" href="https://www.facebook.com/groups/1410255195859214/">Facebook group</a>.</div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
